<div class="new-member-wrapper">
  <h2>Create a new Member</h2>
  <form method="post" action="/members">

    <input
    type="text"
    name="first_name"
    id="first-name"
    placeholder="First Name" required
    />

    <input
    type="text"
    name="last_name"
    id="last-name"
    placeholder="Last Name" required
    />

    <input
    type="text"
    name="date_of_birth"
    id="date-of-birth"
    placeholder="Date of Birth" required
    />

    <input
    type="text"
    name="address"
    id="address-field"
    placeholder="Address" required
    />

    <input
    type="text"
    name="post_code"
    id="post-code"
    placeholder="Post Code" required
    />
    <br>
    <br>
    <input type="submit" value="Add New Member">
  </form>
</div>
