<div class="confirmation-wrapper">
  <h3>Congratulations. You have successfully updated your members' details</h3>
  <h3><a class="btn btn--action" href="/members">Return to Members List</a></h3>
  <hr>
</div>
