<!DOCTYPE html>
<html>
<head>
  <title>The Gymnasium</title>
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <nav id="menu">
    <ul>
      <li class="menu-item"><a href='/'>Home</a></li>
      <li class="menu-item"><a href='/members'>Members</a></li>
      <li class="menu-item"><a href='/sessions'>Sessions</a></li>
      <li class="menu-item"><a href='/bookings'>Bookings</a></li>
    </ul>
  </nav>
  <h1 id="logo">The Gymnasium</h1>
  <%= yield %>
</body>
</html>
