<div class="confirmation-wrapper">
  <h3>You have added <%= @session.name %> as a New Session.</h3>
  <h3><%= @session.name %> has been scheduled for <%= @session.start_time %> on <%= @session.day %>.</h3>
  <h3><a class="btn btn--action" href="/sessions">Return to Sessions List</a></h3>
  <hr>
</div>
