<div class="confirmation-wrapper">
  <h3>Congratulations. You have successfully deleted <%= @session.name %> from The Gymnasium</h3>
  <h3><a class="btn btn--action" href="/sessions">Return to Sessions List</a></h3>
  <hr>
</div>
